<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publish</title>
    <style>
        form {
            width: 20rem;
        }
        label {
            display: block;
        }

        input, select, option {
            margin-bottom: 0.5rem;
            display: block;
        }

    </style>
</head>
<body>
<h1>Publish to multiple RabbitMQ Brokers</h1>
<form action="/publish" method="post">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" >
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName">
    <label for="destination">Origin:</label>
    <select id="destination" name="origin">
        <option value="US">US</option>
        <option value="Ireland">Ireland</option>
    </select>
    <button type="submit">Publish</button>
    <p class="sent" th:if="${sendMessage != null}" th:text="${sendMessage}" />
</form>
</body>
</html>